* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
}

.title h1 {background-color: #2563eb;}
.player-area {background-color: orange;}
.buttons-area {background-color: #2563eb;}
/* .controls {background-color: #8e929b;} */
/* #result {background-color: #e5e7eb;} */

body {
	background-color: #1f2937;
	display: grid;
	place-items: center;
	height: 100vh;
}

.game-container {
	background: #f9fafb;
	display: grid;
	grid-template-rows: 7vh 50vh 25vh 10vh;
	text-align: center;
	border-radius: 10px;
	border: 3px solid #10b981;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
	padding: 20px;
	height: 99vh;
	width: 70%;
}

.title h1 {
	font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*pantalla principal*/
.player-area {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
}

/* Rondas ganadas */
.round-counter {
	font-weight: bold;
	color: #1f2937;
	font-size: 1.3rem;
	margin-bottom: 15px;
}

/* casillas de jugador y computadora */
.player-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border-radius: 8px;
	width: 200px;
	height: 250px;
	gap: 10px;
	background-color: #f2f2f2;
}
.player-card h2 {
	font-family: "Bungee Spice", sans-serif;
}

/* contenedor de imagen */
.choice {
	display: grid;
	place-items: center;
	height: 150px;
	width: 150px;
	background-color: #e1e1e1;
	border-radius: 8px;
}

.choice-img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

/*Barra de vida*/
.health-bar {
	width: 100%;
	background: #e5e7eb;
	border-radius: 8px;
	height: 20px;
	overflow: hidden;
	border: 2px solid #9ca3af;
}

.health-fill {
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, #10b981, #22c55e);
	transition: width 0.4s ease-in-out;
}

/*animación*/
@keyframes blink-red {
	0%, 100% { background-color: #ef4444; }
	50% { background-color: #f87171; }
}

.health-fill.critical {
	animation: blink-red 0.5s infinite;
}

/* resultado */
#result {
	font-size: 1.5rem;
	color: #333;
}

/*botones cartas*/
.buttons-area {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.game-button {
	border: none;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.game-button:hover {
	background-color: #45a049;
}

.game-button img{
	width: 100px;
}
.game-button img:hover{
	width: 110px;
}

/* Botón de Nueva Partida */
.controls {
	display: grid;
	place-items: center;
	text-align: center;
}

#new-game-btn {
	padding: 10px 20px;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-color: #2563eb;
	transition: background-color 0.3s ease;
}

#new-game-btn:hover {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.815), blue, rgba(0, 0, 0, 0.815));
}

/* función para un jugador online */
/* #multiplayer-section {
	margin-top: 20px;
	display: none;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 8px;
}

.hidden {
	display: none;
} */

/* boton de nueva partida */


